#Python Assessment Test

**Question 1. For the full answers, review the notebook introductions of each topic!. Describe the following object type data                stuctures
1. Numbers
2. Strings
3. List
4. Tuples
5. Dictionaries

Use text cells to write your answers.

1. Numbers : Number data types store numeric values.
            They are immutable data types, 
            means that changing the value of a number data type results in a newly
            allocated object.
            
            Python supports four different numeris data types:
                1. int
                2. long
                3. flot
                4. comlpex
            
            
                
2. Strings  : In Python, Strings are arrays of bytes representing Unicode
          characters.Square brackets can be used to access elements of the string.           
         
    String Data Structure : 'Hy'        
            
3. List :  The list is a most versatile datatype available in Python
    which can be written as a list of comma-separated values (items)
    between square brackets. Important thing about a list is that items
    in a list need not be of the same type. 
    
    List Data Structure : List_A = [item 1, item 2, item 3â€¦.., item n]

        
4. Tuples : A Tuple is a collection of Python objects separated by commas.
        In someways a tuple is similar to a list in terms of indexing, 
        nested objects and repetition but a tuple is immutable unlike lists
        which are mutable.
        
        Tuples Data Structure : ('ob1', 'ob2', 1)
            
5. Dictionaries : Dictionary in Python is an unordered collection of data
            values, used to store data values like a map, which, unlike other Data 
            Types that hold only a single value as an element, Dictionary holds 
            key:value pair. Key-value is provided in the dictionary to make it more 
            optimized. 
          Dictionaries data types : {'ob1' : 1, 'ob2' : 'vinay'}

**Question 2. Given the string 'Rameshwaram' give an index command that returns 'shwar'. Enter your code in the cell below:**

In [4]:
s='Rameshwaram'
# Print out 'shwar' using indexing. 

print(s[4:-2])

shwar

**Question 3. Guess the output of  print(0.1+0.2==0.3), without running a code and write your answer in the text cell given below (shown below as Double-click (or enter) to edit). Use # before your answer to write in bold letters.**

True

**Question 4. Now run print(0.1+0.2==0.3) in the code cell. Check the result and compare with your guessed answer.\
Explain the output. You can use internet to search the answer.**

In [5]:
print(0.1+0.2==0.3)

#Explain the output
Ohh I got failed to answer it.

But after theresearching on internet I did understand
This is an Computation problem
because of its depends on machine floating data calculation.

False

**Question 5. Print a complex number 2+5i in three different ways.**

In [88]:
# method 1
com_p = complex(2,5)
print(com_p.real)

2.0

In [90]:
# method 2
print(com_p.imag)

5.0

In [92]:
# method 3
print(com_p.conjugate())

(2-5j)

**Question 6. Run the following code and explain the outcome**

In [7]:
#Explain the outcome of the following code
s='Welcome'
s[1]='w'


Explanation : it's not possible because of in python String are immutable 
    that why be can not change value of S[1]

SyntaxError: EOL while scanning string literal (Temp/ipykernel_16760/1099542609.py, line 6)

**Question 7. Reassign 'hello' in this nested list to say 'goodbye' instead:**

In [11]:
list1 = [1,2,[3,4,'hello']]
print(list1)
list1[-1][-1] = 'goobye'
print(list1)

[1, 2, [3, 4, 'hello']]
[1, 2, [3, 4, 'goobye']]

**Question 8. Using keys and indexing, grab the 'hello' from the following dictionary:**

In [14]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

grab_hello = d['k1'][-1]['k2'][-1]['tough'][-1][0]
print(grab_hello)

hello

**Question 9. Can you sort a dictionary? Why or why not?**

We can not sort Dictionary because of its keys But we can sort Dictionary by its values.

**Question 10. Use a one line code to find the unique values of the list below**

In [17]:
list2 = [1,2,2,33,4,4,11,22,3,3,2]
list2 = set(list2)

print(list2)

{1, 2, 33, 4, 3, 11, 22}

**Question 11. Use for, .split(), and if to create a Statement that will print out words that start with 's':**

In [31]:
s = 'Print only the words that start with s in this sentence'

In [32]:

# write your code here
ls = s.split()

for alls in ls:
    if(alls[0] == 's'):
        print(alls)

start
s
sentence

**Question 12. Use range() to print all the even numbers from 0 to 50.**

In [33]:
#code here
for i in range(0,50):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

**Question 13. Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 4.**

In [36]:
#code here
lsdiv_4 = []
for i in range(1,50):
    if(i%4 == 0):
        lsdiv_4.append(i)
        
print(lsdiv_4)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]

**Question 14. Go through the string below and if the length of a word is even print "even!"**

In [46]:
s = 'Print every word in this sentence that has an even number of letters'
#code here
ls_s = s.split()

for ls_n in ls_s:
    if(len(ls_n)%2 == 0):
           print(ls_n + ' is ' + "even!")

word is even!
in is even!
this is even!
sentence is even!
that is even!
an is even!
even is even!
number is even!
of is even!

**Question 15. Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)

In [100]:
import string
string.ascii_lowercase #Check the output of this line of code

'abcdefghijklmnopqrstuvwxyz'

In [101]:
def ispangram(str1, alphabet=string.ascii_lowercase):
    ls_alphabet = list(alphabet)
    ls_str1 = list[str1]
    
    new_ls = []
    
    for every in str1:
        if(every in ls_alphabet):
            new_ls.append(every)
   
    
    if(len(set(ls_alphabet)) == len(set(new_ls))):
        return 'yes this is pangram'
    if(len(set(ls_alphabet)) != len(set(new_ls))):
        return 'NOt this is not a pangram'

In [105]:

ispangram("The quick brown fox jumps over the lazy dog")

'yes this is pangram'

**Question 16.** **Object Oriented Programming Challenge**

For this challenge, create a bank account class that has two attributes:

* owner
* balance

and two methods:

* deposit
* withdraw

As an added requirement, withdrawals may not exceed the available balance.

Instantiate your class, make several deposits and withdrawals, and test to make sure the account can't be overdrawn.

In [48]:
class Account:
    def __init__(self,owner, balance):
        self.owner = owner
        self.balance = balance
        
    
    def deposit(self,dep_mn):
        return 'Deposit Accepted'
    
    def withdraw(self,with_mn):
        self.with_mn = with_mn
        if self.with_mn > self.balance:
            return 'Funds Unavailable!'
        else:
            return 'withdraw Accepted'

In [49]:
# 1. Instantiate the class
acct1 = Account('Prepleaf',1000)

In [50]:
# 2. Print the object
print('Account owner : ' + str(acct1.owner) +'\n'+ 'Account Balance :' + str(acct1.balance))

# output:
#Account owner:   Prepleaf
#Account balance: $1000

Account owner : Prepleaf
Account Balance :1000

In [51]:
# 3. Show the account owner attribute
acct1.owner
#output:
#'Prepleaf'

'Prepleaf'

In [52]:
# 4. Show the account balance attribute
acct1.balance
#output:
#1000

1000

In [53]:
# 5. Make a series of deposits and withdrawals
acct1.deposit(50)
#output:
#Deposit Accepted

'Deposit Accepted'

In [54]:
acct1.withdraw(75)
#output:
#Withdrawal Accepted

'withdraw Accepted'

In [55]:
# 6. Make a withdrawal that exceeds the available balance
acct1.withdraw(1500)
#output:
#Funds Unavailable!

'Funds Unavailable!'

Question 17.  combine given two series to form a dataframe with columns names as col1, col2 and print the first five rows.

In [58]:
import pandas as pd
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

new_df = pd.concat([ser1,ser2], axis =1)
new_df

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

Question 18. Given the data. Which manufacturer, model and type has the highest Price?

In [80]:
 df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
 pd.DataFrame()
#  df[['Model','Price','Type']]
 df.sort_values(by=['Price'],ascending=False)

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
58,Mercedes-Benz,300E,Midsize,43.8,61.9,80.0,19.0,25.0,Driver & Passenger,Rear,...,5.0,NaN,110.0,69.0,37.0,NaN,15.0,3525.0,non-USA,Mercedes-Benz 300E
47,Infiniti,Q45,Midsize,45.4,47.9,NaN,17.0,22.0,NaN,Rear,...,5.0,200.0,113.0,72.0,42.0,29.0,15.0,4000.0,non-USA,Infiniti Q45
10,Cadillac,Seville,Midsize,37.5,40.1,42.7,16.0,25.0,Driver & Passenger,Front,...,5.0,204.0,111.0,74.0,44.0,31.0,NaN,3935.0,USA,Cadillac Seville
18,Chevrolet,Corvette,Sporty,34.6,38.0,41.5,17.0,25.0,Driver only,Rear,...,2.0,179.0,96.0,74.0,43.0,NaN,NaN,3380.0,NaN,Chevrolet Corvette
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,Mazda,323,Small,7.4,8.3,9.1,29.0,37.0,None,Front,...,4.0,164.0,97.0,66.0,34.0,27.0,16.0,2325.0,non-USA,Mazda 323
43,Hyundai,Excel,Small,6.8,8.0,9.2,29.0,33.0,None,Front,...,5.0,168.0,94.0,63.0,35.0,26.0,11.0,2345.0,non-USA,Hyundai Excel
30,Ford,Festiva,Small,6.9,7.4,7.9,31.0,33.0,NaN,Front,...,4.0,141.0,90.0,63.0,33.0,26.0,12.0,1845.0,USA,Ford Festiva
78,Saturn,SL,Small,9.2,NaN,12.9,NaN,38.0,Driver only,Front,...,5.0,176.0,102.0,68.0,40.0,26.5,NaN,2495.0,USA,Saturn SL
85,Toyota,Camry,Midsize,15.2,NaN,21.2,22.0,29.0,Driver only,NaN,...,5.0,188.0,103.0,70.0,38.0,28.5,15.0,3030.0,non-USA,Toyota Camry

Question 19. What is the row and column number of the cell with the highest Price value?

Answer :

Row Number : 6
Column : 58

Question 20. Run this code. If you get an error. Use exceptional handling to print as "An error occurred" when error occurs.

In [86]:

list = [1,2,3,4]

for i in range(5):
    print(list[i])

range(0, 5)
1
2
3
4

IndexError: list index out of range

It's throwing an error because of list out of the range. Here is the length of list is 3 but for loop wants to print greater than list  length