# List

**Functions and Methods**

Q1. use sort() function to sort [34,1,2,6,3,7], [[1,3], [3,2], [1,2], [3,1]] and ['a', 'x', 'e', 'A', 'X', 'E'] and tell us what you observe in 2nd, 3rd list

In [12]:
list = [34,1,2,6,3,7]
list.sort()
print(list)

[1, 2, 3, 6, 7, 34]

In [13]:
list2 = [[1,3], [3,2], [1,2], [3,1]]
list2.sort()
print(list2)

[[1, 2], [1, 3], [3, 1], [3, 2]]

In [14]:
list3 =  ['a', 'x', 'e', 'A', 'X', 'E'] 
list3.sort()
print(list3)

['A', 'E', 'X', 'a', 'e', 'x']

Q2. using count() function print the count of 2 and 3 and then using pop() and remove() function to get all a list of unique numbers for [1,2,2,3,3,3]

In [15]:
list_f_count = [1,2,2,3,3,3]
c_ount_2 = list_f_count.count(2)

print(c_ount_2)

2

In [16]:
c_ount_3 = list_f_count.count(3)

print(c_ount_3)

3

In [17]:
for i in list_f_count:
    if list_f_count.count(i)>1:
        list_f_count.remove(i)
        
print(list_f_count)

[1, 2, 3]

Q3. using index() find the index of min and max value in the list [3,6,2,1,7,2,9] and swap them

In [27]:
for_swap_minmax = [3,6,2,1,7,2,9] 

#for_min
index_of_min = for_swap_minmax.index(min(for_swap_minmax))
print(index_of_min)

#for_max
index_of_max = for_swap_minmax.index(max(for_swap_minmax))
print(index_of_max)

3
6

In [28]:
#swap
x_swap,y_swap = index_of_max,index_of_min

print(x_swap)
print(y_swap)

6
3

**Slicing**

Q4. Using slicing method slice [1,2,3,4,5,6,7,8,9,10] in the following ways<br>
    a) elements <4 and elements>6 <br>
    b) elements <=5 and element >5 but in reverse order<br>
    c) odd numbers and even numbers

In [34]:
for_slicing = [1,2,3,4,5,6,7,8,9,10]
for_slicing_new = []

#a if 4 and 6 is number
for i in for_slicing:
    if i < 4 or i > 6:
        for_slicing_new.append(i)
        
print(for_slicing_new)

[1, 2, 3, 7, 8, 9, 10]

In [36]:
for_slicing_2 = [1,2,3,4,5,6,7,8,9,10]
for_slicing_new_2 = []

#a
for i in for_slicing:
    if i <= 5 or i > 5:
        for_slicing_new_2.append(i)
        
print(for_slicing_new_2[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [44]:
for_slicing_3 = [1,2,3,4,5,6,7,8,9,10]
for_slicing_new_even = []
for_slicing_new_odd = []

#a
for i in for_slicing:
    if i%2 == 0:
        for_slicing_new_even.append(i)
        
    if i%2 != 0:
        for_slicing_new_odd.append(i)
        
print(for_slicing_new_even)
print(for_slicing_new_odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

Q5. Use extend() and list concatenation function on the 2 list obtained from Q4.c

In [46]:
#var 1 from q4.c
for_slicing_new_even

#var 2 from q4.c
for_slicing_new_odd

[1, 3, 5, 7, 9]

In [47]:
#extending for_slicing_new_even in for_slicing_new_odd
for_slicing_new_even.extend(for_slicing_new_odd)

print(for_slicing_new_even)

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

**Unpacking List**

Q6. using unpacking method unpack the following lists in different data types<br>
a) [1,2.1,"hello"]<br>
b) ["hi", 1.1, 2.3, [1,2]]<br>
c) ["h1", [1,3], 1,2]

In [48]:
x = [1,2.1,"hello"]

(a, b, c) = x

print(a)
print(b)
print(c)

1
2.1
hello

In [49]:
y = ["hi", 1.1, 2.3, [1,2]]

(a, *b,c) = y

print(a)
print(b)
print(c)

hi
[1.1, 2.3]
[1, 2]

In [50]:
z = ["h1", [1,3], 1,2]

(a, b, *c) = z

print(a)
print(b)
print(c)

h1
[1, 3]
[1, 2]

# String

**Functions and Methods**

Q1. Using split() function split the following strings on the given character<br>
a) "Hello I am Google Colab", " " (normal split)<br>
b) "user@example.com", "@" <br>
c) "Amanda is a woman", "a"

In [60]:
a = "Hello I am Google Colab"

b = a.split(' ')

print(b)

['Hello', 'I', 'am', 'Google', 'Colab']

In [58]:
b = "user@example.com"

c = b.split('@')
print(c)

['user', 'example.com']

In [63]:
c = "Amanda is a woman"

d = c.split('a')
            
print(d)

['Am', 'nd', ' is ', ' wom', 'n']

Q2. Join the list ["Hello", "World", "Nice", "to", "meet", "you"] with the following way<br>
a) normal<br>
b) "@"

In [65]:
a_l = ["Hello", "World", "Nice", "to", "meet", "you"]
new_al = ' '.join(a_l)

print(new_al)

Hello World Nice to meet you

In [66]:
new_atl = '@'.join(a_l)

print(new_atl)

Hello@World@Nice@to@meet@you

Q3. Replace "?" in the string with the right word to make a logically correct sentence<br>
a) "one plus one is ?" <br>
b) "it's ? in the clock" (mention the time in the clock when you are atempting this question) <br>

In [68]:
a = "one plus one is ?"

b = a.replace('?', 'two')
print(b)

one plus one is two

In [2]:
import time

a = "it's ? in the clock"


time_t = time.time()

b = a.replace('?',str(time_t))

print(b)

it's 1641722314.0783072 in the clock

# Dictionaries

Q1. Construct a Dictionary with keys ===> "name", "age", "color", "place" and repective values ===> your name, your age, your fav color, place where you live.<br>

After constructing the dictionary, print the list of keys, values and items of the dictionary

In [12]:
my_dict = {'name' : 'Vinay', 'age' : '21', 'color':'grey', 'place' : 'lucknow'}

#print keys
print(my_dict.keys())

#print balues
print(my_dict.values())

#print items
print(my_dict.items())

dict_keys(['name', 'age', 'color', 'place'])
dict_values(['Vinay', '21', 'grey', 'lucknow'])
dict_items([('name', 'Vinay'), ('age', '21'), ('color', 'grey'), ('place', 'lucknow')])

Q2. Construct a dictionary that contains 2 keys each as a name of your friend and value as a dictionary mentioned in Q1<br>

eg:- {"friend1":{"name": "Prashant", "age": "22"....}, "friend2": {...}}

print the list items of the main dictionary and also the sub-dictionaries present as value

In [18]:
friends_list = {'friend1' : {'name' : 'Vinay', 'age' : '21', 'color':'grey', 'place' : 'lucknow'},
              'friend2'  : {'name' : 'Ajay', 'age' : '22', 'color':'black', 'place' : 'Mumbai'}
               }

#print list items
print(friends_list.items())

dict_items([('friend1', {'name': 'Vinay', 'age': '21', 'color': 'grey', 'place': 'lucknow'}), ('friend2', {'name': 'Ajay', 'age': '22', 'color': 'black', 'place': 'Mumbai'})])

In [16]:

#print 
print(friends_list['friend1'].items())

dict_items([('name', 'Vinay'), ('age', '21'), ('color', 'grey'), ('place', 'lucknow')])

In [19]:
print(friends_list['friend2'].items())

dict_items([('name', 'Ajay'), ('age', '22'), ('color', 'black'), ('place', 'Mumbai')])